flows.json
[{"id":"c7435aa0.cf1d18","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ffec794d.fa38d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"39d984aa.8be7fc","type":"ibmiot","z":"","name":"New Key","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f1800103.3efb9","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","disabled":false,"hidden":false},{"id":"ca28c3e5.c1a61","type":"ui_group","z":"","name":"Smart Agriculture Home page","tab":"f1800103.3efb9","order":1,"disp":true,"width":"6","collapse":false},{"id":"24a8a317.75affc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#77091f","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial Black,Arial Black,Gadget,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b60fd111.52d98","type":"ui_group","z":"","name":"Default","tab":"f1800103.3efb9","order":2,"disp":true,"width":"6","collapse":false},{"id":"47e4841d.202ccc","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","disabled":false,"hidden":false},{"id":"c09def75.cdf4","type":"ui_group","z":"","name":"Default","tab":"47e4841d.202ccc","order":1,"disp":true,"width":"6","collapse":false},{"id":"d382b004.d609a","type":"ibmiot in","z":"c7435aa0.cf1d18","authentication":"apiKey","apiKey":"39d984aa.8be7fc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Arduino","applicationId":"","deviceType":"IOTDevice","eventType":"iotsensor","commandType":"iotsensor","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":false,"qos":0,"x":130,"y":260,"wires":[["2b56035c.28a36c","fed3d059.90dc","2f94eea4.412b32"]]},{"id":"73eb205b.04862","type":"debug","z":"c7435aa0.cf1d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":220,"wires":[]},{"id":"2b56035c.28a36c","type":"function","z":"c7435aa0.cf1d18","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["73eb205b.04862","5fe61f6b.a5689"]]},{"id":"fed3d059.90dc","type":"function","z":"c7435aa0.cf1d18","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":280,"wires":[["73eb205b.04862","9d9b6a8b.1727e8"]]},{"id":"2f94eea4.412b32","type":"function","z":"c7435aa0.cf1d18","name":"Soil_temp","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["73eb205b.04862","d6be345f.9f87c8"]]},{"id":"5fe61f6b.a5689","type":"ui_gauge","z":"c7435aa0.cf1d18","name":"","group":"ca28c3e5.c1a61","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#bd0f0f","#d11010","#b61616"],"seg1":"","seg2":"","x":670,"y":380,"wires":[]},{"id":"9d9b6a8b.1727e8","type":"ui_gauge","z":"c7435aa0.cf1d18","name":"","group":"ca28c3e5.c1a61","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#05b0c7","#10c1e0","#14adc8"],"seg1":"","seg2":"","x":660,"y":300,"wires":[]},{"id":"d6be345f.9f87c8","type":"ui_gauge","z":"c7435aa0.cf1d18","name":"","group":"ca28c3e5.c1a61","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil mositure","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#9a3104","#9a2609","#85260f"],"seg1":"","seg2":"","x":670,"y":120,"wires":[]},{"id":"7ed1f75e.b99828","type":"http request","z":"c7435aa0.cf1d18","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Doda,IN&APPID=658ef047c89cfdf2e82a560ff0b185c8","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":80,"wires":[["73eb205b.04862"]]},{"id":"7591b861.0c53b8","type":"inject","z":"c7435aa0.cf1d18","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"05","x":130,"y":180,"wires":[["7ed1f75e.b99828"]]},{"id":"71c9dc88.c7e4f4","type":"ui_button","z":"c7435aa0.cf1d18","name":"","group":"ca28c3e5.c1a61","order":3,"width":0,"height":0,"passthru":false,"label":"Motor On","tooltip":"","color":"White","bgcolor":"Black","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":250,"y":420,"wires":[["4f63b538.db4bfc","73eb205b.04862"]]},{"id":"15c2c42a.d6c1bc","type":"ui_button","z":"c7435aa0.cf1d18","name":"","group":"ca28c3e5.c1a61","order":4,"width":0,"height":0,"passthru":false,"label":"Motor Off","tooltip":"","color":"White","bgcolor":"Black","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":250,"y":480,"wires":[["4f63b538.db4bfc","73eb205b.04862"]]},{"id":"4f63b538.db4bfc","type":"ibmiot out","z":"c7435aa0.cf1d18","authentication":"apiKey","apiKey":"39d984aa.8be7fc","outputType":"cmd","deviceId":"1234","deviceType":"IOTDevice","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":440,"y":460,"wires":[]},{"id":"fff4dcb1.05cde","type":"inject","z":"ffec794d.fa38d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":110,"y":300,"wires":[["da2be808.d61fa8"]]},{"id":"da2be808.d61fa8","type":"http request","z":"ffec794d.fa38d8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Doda,IN&APPID=658ef047c89cfdf2e82a560ff0b185c8","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":300,"wires":[["25393113.e0f4ae","ab0e4924.777108","8dda4f5f.20d4e","f17a550.da06fa8"]]},{"id":"ab0e4924.777108","type":"change","z":"ffec794d.fa38d8","name":"Coordinates","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.coord","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":120,"wires":[["f25a39ff.a35388","d9510b32.359848"]]},{"id":"25393113.e0f4ae","type":"change","z":"ffec794d.fa38d8","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":200,"wires":[["d45e23c8.f72e","d9510b32.359848"]]},{"id":"8dda4f5f.20d4e","type":"change","z":"ffec794d.fa38d8","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":400,"wires":[["2a254589.b7b5da","d9510b32.359848"]]},{"id":"f17a550.da06fa8","type":"change","z":"ffec794d.fa38d8","name":"Wind Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":480,"wires":[["39cfc790.2fee28","d9510b32.359848"]]},{"id":"f25a39ff.a35388","type":"ui_text","z":"ffec794d.fa38d8","group":"c09def75.cdf4","order":5,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":120,"wires":[]},{"id":"d45e23c8.f72e","type":"ui_gauge","z":"ffec794d.fa38d8","name":"","group":"c09def75.cdf4","order":8,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Kelvin","format":"{{value}}","min":0,"max":"1000","colors":["#f10404","#f60e0e","#ca3838"],"seg1":"","seg2":"","x":770,"y":200,"wires":[]},{"id":"2a254589.b7b5da","type":"ui_gauge","z":"ffec794d.fa38d8","name":"","group":"c09def75.cdf4","order":6,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"mBar","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":400,"wires":[]},{"id":"39cfc790.2fee28","type":"ui_gauge","z":"ffec794d.fa38d8","name":"","group":"c09def75.cdf4","order":7,"width":0,"height":0,"gtype":"gage","title":"Wind Speed","label":"km/h","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":480,"wires":[]},{"id":"d9510b32.359848","type":"debug","z":"ffec794d.fa38d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":300,"wires":[]}]